@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap");

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Universal Selector */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

body {
  background: rgb(1, 1, 1);
  background: linear-gradient(
    90deg,
    rgba(1, 1, 1, 1) 0%,
    rgba(88, 88, 88, 1) 100%
  );
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Nav-section */

.header-section {
  background: rgb(1, 1, 1);
  background: linear-gradient(
    90deg,
    rgba(1, 1, 1, 1) 0%,
    rgba(88, 88, 88, 1) 100%
  );
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Logo Section Porsche */

.navbar-brand {
  color: white;
}

.navbar-brand:hover {
  color: white;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Nav toggler section */

.navbar-toggler {
  background: white;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Signup and login button */

.nav-item .nav-link {
  color: white;
  font-size: 20px;
  font-weight: 700;
  margin-left: 40px;
}

.nav-item .btn {
  margin-top: 5px;
  margin-left: 40px;
  font-size: 17px;
  font-weight: 500;
  padding: 5px 15px;
}
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/*Section-1 content */

.row .col-12 {
  padding-top: 50px;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/*Section-1 content */

.heading-m {
  text-align: center;
  color: white;
}

.img-fluid {
  animation-name: rightside;
  animation-duration: 0.5s;
  transition: 0.4s;
}

@keyframes rightside {
  from {
    transform: translateX(-50%);
  }
}

.find {
  text-align: center;
  color: white;
  padding-top: 60px;
}

.search-h1 {
  font-size: 40px;
}

.search-p {
  font-size: 23px;
}

#preowned-h1 {
  font-size: 40px;
}

#p {
  font-size: 23px;
}

.discover {
  color: white;
  text-align: center;
  padding-top: 20px;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Card-section */

.card {
  background-color: gray;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Video-content */

.Videotxt {
  color: white;
  text-align: center;
  position: relative;
  top: 30px;
}
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Footer-content */

footer {
  background: black;
  width: 100%;
}
.single-box {
  color: white;
  padding-right: 20px;
}
.single-box h1 {
  color: white;
}

.single-box p {
  color: white;
}

.single-box h3 {
  color: white;
}

.card-area i {
  color: white;
}

.single-box1 {
  color: white;
  padding-top: 20px;
  padding-left: 20px;
}

.single-box1 ul {
  list-style: none;
  padding-top: 20px;
}

.single-box1 ul li {
  margin-top: 10px;
}

.single-box2 {
  color: white;
}
